<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Roupas Solidárias</title>
  <link rel="stylesheet" href="../static/home.css">
</head>
<body>
  <header class="header">
    <h1>ROUPAS SOLIDÁRIAS - QUEM SOMOS E NOSSO OBJETIVO</h1>
  </header>
  <main class="main-content">
    <p>
      A Roupa Solidária é uma plataforma online criada para facilitar a doação de roupas e transformar a vida de quem precisa. Nossa missão é conectar pessoas que desejam contribuir com o próximo, permitindo que suas roupas em bom estado cheguem diretamente às mãos de quem mais precisa. Com um simples cadastro, você pode disponibilizar as suas roupas para doação. E o melhor: sua generosidade será acessada por ONGs e instituições parceiras, que terão a facilidade de encontrar exatamente o que precisam de forma rápida e prática. Seja um agente de mudança, faça parte da nossa rede de solidariedade e ajude a vestir o futuro de muitas pessoas. Com a Roupa Solidária, cada peça tem o poder de aquecer, transformar e levar esperança.
    </p>
    <h3>
      Junte-se a nós e faça a diferença!
    </h3>
     <a href="/doar">
       <button type="submit">CADASTRE ROUPA</button>
     </a>

  </main>
</body>
</html>