<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Roupas para Doação</title>
    <link rel="stylesheet" href="../static/pagdoacao.css">
</head>
<body>
    <div class="container">
        <h1>CADASTRO DE ROUPAS PARA DOAÇÃO</h1>
        <form action="/cadastrardoacao" method="post">
            <div class="form-group">
                <label for="tipo">Selecione o Tipo de Roupa</label>
                <select id="tipo" name="tipo">
                    <option value="short">Short</option>
                    <option value="camisa">Camisa / Blusa</option>
                    <option value="calca">Calça</option>
                    <option value="jaqueta">Jaqueta</option>
                    <option value="sapatos">Sapatos</option>
                </select>
            </div>

            <div class="form-group">
                <label for="qualidade">Avalie a Qualidade da Peça</label>
                 <select id="qualidade" name="qualidade">
                    <option value="ruim">ruim</option>
                    <option value="mediano">mediano</option>
                    <option value="bom">bom</option>
                    <option value="seminovo">seminovo</option>
                    <option value="novo">novo</option>
                </select>
            </div>

            <div class="form-group">
                <label for="descricao">Descreva o Produto (Material, Cor, Tamanho)</label>
                <textarea id="descricao" name="descricao" rows="4"></textarea>
            </div>

            <div class="form-group">
                <label for="endereco">Endereço</label>
                <input type="text" id="endereco" name="endereco">
            </div>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>