<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link rel="stylesheet" href="..//static/paglistarroupa.css">
</head>
<body>
     <h2 class="page-title">Lista de roupas cadastradas</h2>
            <ul class="user-list">
                {% for roupa in lista %}
                <li class="user-item">
                    <span class="user-tipo">{{roupa[0]}}</span>
                    <span class="user-qualidade">{{roupa[1]}}</span>
                    <span class="user-descricao">{{roupa[2]}}</span>
                    <span class="user-endereco">{{roupa[3]}}</span>

                </li>
                {% endfor %}
            </ul>
</body>
</html>